/* Place CSS styles here */
body {
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8eef0;

}
.top-gradient{
    background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);
}
h1 {
    font-size: 150px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #e8eef0;
    margin-bottom: 0px;
    padding-left: 50px;
}
.title-nova{
    font-size: 150PX;
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 0px;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 0px;
}

.sample-text {
    font-size: 20px;
    line-height: 1.6;
}

.font-weights-list {
    list-style: none;
    padding: 0;
}

.font-weights-list li {
    margin-bottom: 10px;
}

.weight-regular {
    font-weight: normal;
}

.weight-medium {
    font-weight: 500;
}

.weight-semibold {
    font-weight: 600;
}

.weight-bold {
    font-weight: bold;
}
h3{
    font-size: 24px;
    margin-bottom: 10px;
}
